.button {
    background-color: transparent;
    border-radius: 0.5rem;
    border: 3px solid var(--color-off-white);
    color: var(--color-off-white);
    cursor: pointer;
    font-size: var(--font-size-xl);
    font-weight: 700;
    padding: 8px 13px;
    transition: 0.3s;
}

.button:active {
    transform: translateY(2px);
}

.light {
    border-width: 1px;
    font-size: var(--font-size-normal);
    font-weight: 400;
}

.button:disabled {
    border-color: var(--color-off-white-disabled);
    color: var(--color-off-white-disabled);
    cursor: not-allowed;
    transform: none;
}

