.base {
  font-family: var(--font-family-arial);
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

.sizeS {
  font-size: var(--font-size-s);
}

.sizeNormal {
  font-size: var(--font-size-normal);
}

.sizeL {
  font-size: var(--font-size-l);
}

.sizeXL {
  font-size: var(--font-size-xl);
}

.sizeXXL {
  font-size: var(--font-size-xxl);
}

.bold {
  font-weight: 800;
}
