.textInput {
	box-sizing: border-box;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  color: var(--color-off-white);
  font-size: var(--font-size-xl);
  padding: 0.5rem;
  width: 100%
}

.textAlignCenter {
    text-align: center;
}
