section.rules {
  max-width: 1000px;
  background-color: rgba(10, 9, 8, .3);
  padding: 2rem 1rem;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 4rem auto;
}

img#logo {
  display: block;
  margin: 4rem auto;
}

.rule-card {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.power-description span {
  display: block;
  font-size: 24px;
  max-width: 600px;
}

.power-description span::before {
  content: ' - '
}

p.card-value {
  margin: 0 10px;
  font-size: 36px;
  flex-basis: 150px;
  text-align: center;
  font-weight: 900;
}

.new-game-btn {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  color: #F0F2F3;
  background-color: #714378;
  left: 50%;
  box-shadow: inset 0 0 10px rgba(0,0,0, 0.35);
  transform: translateX(-50%);
}