.player-card:nth-child(1) {
  margin-top: 1.5rem;
}

.player-card {
  border-bottom: 1px solid #F0F2F3;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  position: relative;
}

.player-name {
  position: absolute;
  top: -1.1rem;
}

.profile, .score-card {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
  text-align: center;
  align-items: center
}

.player-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-width: 60px;
}

.player-card form input {
  width: 3.5em;
  padding: 5px 0;
  text-align: center;
  background-color: transparent;
  color: white;
  border: 1px solid grey;
}

.player-card form input:focus,
.player-card form input:active {
  outline: none;
  border: 1px solid yellow;
}

.player-card form input::-webkit-outer-spin-button,
.player-card form input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.player-card form button {
  margin: 12px 0;
  background-color: #714378;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.rounds {
  display: flex;
  margin-left: 20px;
  overflow-x: auto;
  max-width: 500px;
}

.rounds::-webkit-scrollbar {
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(138, 138, 138, 0.1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #714378; 
}

.score {
  font-size: 24px;
  margin: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .rounds {
    max-width: 250px;
  }
}