:root {
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-abhaya: 'Abhaya Libre', serif;
  --font-size-xs: 0.35rem;
  --font-size-s: 0.5rem;
  --font-size-normal: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2.0rem;
  --font-size-logo: 4.5rem;

  --color-off-white: rgba( 240, 242, 243, 0.99);
  --color-dark-blue: rgba(0, 18, 45, 0.99);
  --color-light-red: rgba(211, 112, 112);
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  align-items: center;
  background-color: var(--color-dark-blue);
  color: var(--color-off-white);
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
  transition: 0.3s;
}

button:active, button:focus {
  outline: none;
}

button:active {
  transform: translateY(2px);
}
